# Built-in Types (II)
## Sequence types (`list` and `tuple`)
## Lists

Lists are mutable sequences, typically used to store collections of homogeneous items.

Lists may be constructed in several ways:

* Using a pair of square brackets to denote the empty list: `[]`
* Using square brackets, separating items with commas: `[a]`, `[a, b, c]`
* Using a list comprehension: `[x for x in iterable]`
* Using the type constructor: `list()` or `list(iterable)`

### List operations (common to all mutable sequences)

#### Membership testing (`in` and `not in` operators):

In [1]:
names = ['Anna', 'Mike', 'Paul']
'Paul' in names

True

In [2]:
'Jane' not in names

True

#### Concatenation (`+` and `+=` operators):

In [3]:
names + ['Sasha', 'Alex']

['Anna', 'Mike', 'Paul', 'Sasha', 'Alex']

In [4]:
names += ['June']
names

['Anna', 'Mike', 'Paul', 'June']

#### Multiplication (`*` and `*=` operators):

In [5]:
names * 3

['Anna',
 'Mike',
 'Paul',
 'June',
 'Anna',
 'Mike',
 'Paul',
 'June',
 'Anna',
 'Mike',
 'Paul',
 'June']

In [6]:
names *= 2
names

['Anna', 'Mike', 'Paul', 'June', 'Anna', 'Mike', 'Paul', 'June']

#### Indexing and slicing (`[]` operator):

In [7]:
odd_numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
odd_numbers[-3]

15

In [8]:
odd_numbers[::3]

[1, 7, 13, 19]

In [9]:
odd_numbers[0] = 100  # item assignment
odd_numbers

[100, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [10]:
odd_numbers[2:6] = []  # slice assignment
odd_numbers

[100, 3, 13, 15, 17, 19]

In [11]:
del odd_numbers[1::2]  # slice deletion
odd_numbers

[100, 13, 17]

#### Builtins `len`, `min`, `max`:

In [12]:
len(odd_numbers)

3

In [13]:
min(odd_numbers)

13

In [14]:
max(odd_numbers)

100

### List methods

`a.append(x)`
* add an item to the end of the list
* equivalent to `a[len(a):] = [x]`

In [15]:
odd_numbers.append(200)
odd_numbers

[100, 13, 17, 200]

`a.extend(L)`  
* extend the list by appending all the items in the given list
* equivalent to `a[len(a):] = L`

In [16]:
odd_numbers.extend([0, 0, 0])
odd_numbers

[100, 13, 17, 200, 0, 0, 0]

`a.insert(i, x)`  
* insert an item at a given position
* `a.insert(0, x)` inserts at the front of the list
* `a.insert(len(a), x)` is equivalent to `a.append(x)`

In [17]:
odd_numbers.insert(1, 'apple')
odd_numbers

[100, 'apple', 13, 17, 200, 0, 0, 0]

`a.remove(x)` 
* remove the first item from the list whose value is x
* raises an error if no such item exists

In [18]:
odd_numbers.remove(13)
odd_numbers

[100, 'apple', 17, 200, 0, 0, 0]

`a.pop()` / `a.pop(i)`
* remove the item at the given position in the list, and return it
* if no index is specified, `a.pop()` removes and returns the last item in the list

In [19]:
second_element = odd_numbers.pop(1)
second_element

'apple'

In [20]:
last_element = odd_numbers.pop()
last_element

0

In [21]:
odd_numbers

[100, 17, 200, 0, 0]

`a.sort()`
* sort the items of the list, in place.

In [22]:
odd_numbers.sort()
odd_numbers

[0, 0, 17, 100, 200]

`a.reverse()`
* reverse the elements of the list, in place

In [23]:
odd_numbers.reverse()
odd_numbers

[200, 100, 17, 0, 0]

`a.index(x)`
* return the index in the list of the first item whose value is `x`
* it raises an error if there is no such item

In [24]:
odd_numbers.index(100)

1

`a.count(x)`
* return the number of times `x` appears in the list

In [25]:
odd_numbers.count(0)

2

`a.clear()`
* removes all items from `a`
* same as `del a[:]`

In [26]:
odd_numbers.clear()
odd_numbers

[]

`a.copy()`
* creates a shallow copy of `a`
* same as `a[:]`

In [27]:
odd_numbers.copy()

[]

## Exercises

1. Given the following list:
    ```python
    l = [4, 6, 1, 7, 8, 2, 8, 2, 4, 6, 8, 9]
    ```
    * Add elements from `[5, 7, 8]` to the end of the list and print the new list
    * Print the length of the list
    * Check if `8` is in the list
    * Print the first position of `7` in the list
    * Count how many times `8` is in the list
    * Reverse the list and print the new list
    * Sort the list and print the new list
    * Remove items on last two positions and print the new list
1. Write a program to create a list of the squares of the first 10 odd numbers by iterating through a range object.
1. Write a Python program to convert a list of characters into a string. Hint: take a look at string operations (concatenation, methods).

    ```python
    words = ['a', 'b', 'c', 'd']
    # output: 'abcd'
    ```
1. Create a list called `my_list` that contains the following items: `5, 4, 2, 3, 7, 1, 8, 9, 1, 2`.
   - Create a new list called `new_list` that contains only the even numbers from `my_list`. Print the entire `new_list` to the console.
   - Create another new list called `squared_list` that contains the squares of all the numbers in `my_list`. Print the entire `squared_list` to the console.
   - Create a third new list called `modified_list` that contains each item in `my_list` multiplied by 2, but only if the original number is greater than 2. Print the entire `modified_list` to the console.

1. Write a program to join together three existing lists. E.g.:
    ```python
    list1 = [3, 2, 5]
    list2 = [4, 2]
    list3 = [6, 2, 6, 1]
    # output: [3, 2, 5, 4, 2, 6, 2, 6, 1]
    ```
1. Write a Python program to find the second-smallest number in a list.

## Tuples
Tuples are immutable sequences, typically used to store collections of heterogeneous data.

Tuples may be constructed in a number of ways:
* Using a pair of parentheses to denote the empty tuple: `()`
* Using a trailing comma for a singleton tuple: `a,` or `(a,)`
* Separating items with commas: `a, b, c` or `(a, b, c)`
* Using the `tuple()` built-in: `tuple()` or `tuple(iterable)`

### Tuple operations (common to all sequences)

#### Membership testing (`in` and `not in` operators):

In [28]:
person = ('John', 'Doe', 1.85, 20)
'Doe' in person

True

In [29]:
20 not in person

False

#### Concatenation (`+` operator):

In [30]:
person + (0,)

('John', 'Doe', 1.85, 20, 0)

#### Multiplication (`*` operator):

In [31]:
person * 3

('John', 'Doe', 1.85, 20, 'John', 'Doe', 1.85, 20, 'John', 'Doe', 1.85, 20)

#### Indexing and slicing (`[]` operator):

In [32]:
person[2]

1.85

In [33]:
person[:-2]

('John', 'Doe')

#### Builtins `len`, `min`, `max`:
! `min` and `max` will work only if the members of the tuple support comparation

In [34]:
len(person)

4

In [35]:
min(person[2:])  # comparing only the numerical values in tuple

1.85

In [36]:
max(person[:2])  # comparing only the string values in tuple

'John'

### Tuple methods

`t.count(x)`
* return the number of times `x` appears in the tuple

In [37]:
person.count(100)

0

`t.index(x)`
* return the index in the tuple of the first item whose value is `x`
* it raises an error if there is no such item

In [38]:
person.index(20)

3

## Mutable vs Immutable types

Lists and tuples are both types of data that store collections of elements. There is, though, a major difference between the two: lists are mutable, while tuples are immutable.

The basic types we've seen in the previous chapters are all immutable (`bool`, `int`, `float`, `str`, `bytes`).

What is the difference between mutable and immutable objects? Mutable objects can mutate i.e. we can change their attributes, or their internal value, while immutable objects are unchangeable.

Let's take an example! In the examples below we'll use the built-in function `id()` which returns an unique identifier for an object (in CPython it returns the memory address of that object).

In [39]:
num = 5
id(num)

4336468336

In [40]:
num += 1
id(num)

4336468368

In [41]:
num

6

In [42]:
lst = [5]
id(lst)

4383676480

In [43]:
lst += [1]
id(lst)

4383676480

In [44]:
lst

[5, 1]

In the example above, we've used the `+=` operator for an integer (immutable type) and for a list (mutable type). Notice how the id has changed for `num`, while for `lst` it remained unchanged.

This difference is important because it helps us understand the inner workings of Python types. A type's nature (mutable/immutable), determines the operations it supports. For example, an immutable collection (`tuple`, `str`) does not support item assignment, while a mutable collection (`list`) does.

In [45]:
tup = (1, 2, 3)
try:
    tup[0] = 100 
except TypeError as ex:
    print(ex)

'tuple' object does not support item assignment

In [46]:
lst = [1, 2, 3]
lst[0] = 100
lst

[100, 2, 3]

## Exercises

1. Create a tuple called `my_tuple` that contains the following items: `"apple", 2, True, "banana", 3.14`
    - Print the entire tuple to the console.
    - Print the third item in the tuple (True) to the console.
    - Print the length of the tuple to the console.
    - Try to change the second item in the tuple to "pear". What happens?
    - Create a new tuple called `my_slice` that contains only the first three items from my_tuple.
    - Print the entire `my_slice` tuple to the console.
    - Use a for loop to print each item in `my_tuple` on a new line.
    - Try to add a new item to `my_tuple`. What happens?
1. Create two tuples called `tuple1` and `tuple2` that each contain three items of your choice. Combine the two tuples into a new tuple called `combined_tuple`. Print the entire `combined_tuple` to the console.
1. Given two lists, create a list of tuples where element on position `n` is a tuple of elements on position `n` from each list. If one list is longer than the other, ignore extra elements.

    E.g. `["Anna", "John", "Marie"]`, `[12, 15, 22, 13]` -> `[("Anna", 12), ("John", 15), ("Marie", 22)]`

## Set types (`set` and `frozenset`)

Sets and frozensets are collections of unordered elements. The elements of a set must be [hashable](https://docs.python.org/3/glossary.html#term-hashable). `frozenset` is the immutable counterpart of `set`.

They can be constructed using their type constructors:
* Empty set: `set()`, `frozenset()`
* From an iterable: `set(iterable)`, `frozenset(iterable)`
* Using curly brackets, separating items with commas: `{a, b, c}`

In [47]:
s1 = set()
s2 = set(range(6))
s3 = set([1, 3, 5])
s4 = {4, 5, 6, 7, 8}

Instances of `set` and `frozenset` provide the following operations:

#### `len(s)`
Return the number of elements in set `s`.

In [48]:
len(s2)

6

#### Membership tests
#### `x in s`
Test `x` for membership in `s`.

#### `x not in s`
Test `x` for non-membership in `s`.

In [49]:
3 in s2

True

In [50]:
0 not in s1

True

#### `s.isdisjoint(other)`
Return `True` if the `s` has no elements in common with `other`. Sets are disjoint if and only if their intersection is the empty set.

In [51]:
s1.isdisjoint(s2)

True

#### `s.issubset(other)`
#### `s <= other`
Test whether every element in `s` is in `other`.

#### `s < other`
Test whether `s` is a proper subset of `other`, that is, `s <= other and s != other`.

In [52]:
s2 <= s3

False

In [53]:
s1 < s2

True

#### `s.issuperset(other)`
#### `s >= other`
Test whether every element in `other` is in `s`.

#### `s > other`
Test whether `s` is a proper superset of `other`, that is, `s >= other and s != other`.

In [54]:
s4.issuperset(s2)

False

In [55]:
s2 > s3

True

#### `s.union(other)`
#### `s | other`
Return a new set with elements from `s` and `other`.

In [56]:
s2.union(s3)

{0, 1, 2, 3, 4, 5}

In [57]:
s3 | s4

{1, 3, 4, 5, 6, 7, 8}

#### `s.intersection(other)`
#### `s & other`
Return a new set with elements common to `s` and `other`.

In [58]:
s2 & s3

{1, 3, 5}

#### `s.difference(other)`
#### `s - other`
Return a new set with elements in `s` that are not `other`.

In [59]:
s2.difference(s3)

{0, 2, 4}

#### `s.symmetric_difference(other)`
#### `s ^ other`

In [60]:
s3 ^ s4

{1, 3, 4, 6, 7, 8}

There are also some operations available for `set` that do not apply to immutable instances of `frozenset`:

#### `s.update(other)`
#### `s |= other`
Update `s`, adding elements from `other`.

In [61]:
s1.update(s2)
s1

{0, 1, 2, 3, 4, 5}

#### `s.intersection_update(other)`
#### `s &= other`
Update `s`, keeping only elements found in it and `other`.

In [62]:
s1 &= s3
s1

{1, 3, 5}

#### `s.difference_update(other)`
#### `s -= other`
Update `s`, removing elements found in `other`.

In [63]:
s1.difference_update(s4)
s1

{1, 3}

#### `s.symmetric_difference_update(other)`
#### `s ^= other`
Update `s`, keeping only elements found in either set, but not in both.

In [64]:
s1 ^= s4
s1

{1, 3, 4, 5, 6, 7, 8}

#### `s.add(elem)`
Add element elem to the set.

In [65]:
s1.add(9)
s1

{1, 3, 4, 5, 6, 7, 8, 9}

#### `s.remove(elem)`
Remove element `elem` from the set. Raises `KeyError` if `elem` is not contained in the set.

In [66]:
s1.remove(8)
s1

{1, 3, 4, 5, 6, 7, 9}

#### `s.discard(elem)`
Remove element `elem` from the set if it is present.

In [67]:
s1.discard(10)
s1

{1, 3, 4, 5, 6, 7, 9}

#### `s.pop()`
Remove and return an arbitrary element from the set. Raises `KeyError` if the set is empty.

In [68]:
s1.pop()

1

#### `s.clear()`
Remove all elements from the set.

In [69]:
s1.clear()
s1

set()

## Exercises

1. Given the following set:
    ```python
    s = set()
    ```
    * Add elements from the list `[1, 2, 3]` to the set and print the new set
    * Print the length of the set
    * Check if `4` is in the set
    * Remove and print an arbitrary element from the set; print the new set
    * Remove all remaining items in the set and print the new set
    
1. Create a set called `fruit_set` that contains the names of five different fruits. Add a new fruit to the `fruit_set`. Remove one of the fruits from the `fruit_set`. Print the new `fruit_set` to the console.
1. Create a set called `visited_cities` that contains the names of five cities you have visited in the past. Create a second set called `bucket_list` that contains the names of three cities you want absolutely want to visit. 
    * Create the set `bucket_list_completed` which contains cities that are in both `visited_cities` and `bucket_list` (intersection). 
    * Create the set `all_cities` which contains cities that are in either `visited_cities` or `bucket_list` (union).
    * Create the set `must_visit` which contains cities that are in `bucket_list`, but not in `visited_cities` (difference). 
1. Write a Python program that counts the number of distinct words from a string.
A word=a sequence of characters that is not whitespace (space, newline, tab).
    
    E.g. 
    ```python
    my_str = """beautiful is better than ugly
    explicit is better than implicit
    simple is better than complex
    complex is better than complicated
    flat is better than nested
    sparse is better than dense"""
    # Should print: 14 distinct words
    ```

## Mapping types (`dict`)

Dictionaries are collections of key-value pairs. The keys must be hashable objects, while values are can be any type of object.

Dictionary order is guaranteed to be insertion order (since Python 3.7).

Dictionaries can be created:
* by placing a comma-separated list of `key: value` pairs within braces, for example: `{'jack': 4098, 'sjoerd': 4127}` or `{4098: 'jack', 4127: 'sjoerd'}`
* by the dict constructor

In [70]:
d1 = {}  # empty dict
d2 = {1083: 'pie', 1084: 'carrot cake', 1088: 'brownie'}
d3 = dict()
d4 = dict(apples=4, bananas=5)
d5 = dict([(1, 1.2), (2, 3.45), (3, 5.2), (4, 21)])

print(d1)
print(d2)
print(d3)
print(d4)
print(d5)

{}
{1083: 'pie', 1084: 'carrot cake', 1088: 'brownie'}
{}
{'apples': 4, 'bananas': 5}
{1: 1.2, 2: 3.45, 3: 5.2, 4: 21}

These are the operations that dictionaries support:

#### `list(d)`
Return a list of all the keys used in the dictionary `d`.

In [71]:
list(d4)

['apples', 'bananas']

#### `len(d)`
Return the number of items in the dictionary `d`.

In [72]:
len(d4)

2

#### `d[key]`
Return the item of `d` with key `key`. Raises a `KeyError` if key is not in the map.

In [73]:
d4['apples']

4

In [74]:
try:
    d1['apples']
except KeyError as ex:
    print('KeyError:', ex)

KeyError: 'apples'

#### `d[key] = value`
Set `d[key]` to `value`. If `key` is present in `d`, update its value to `value`, otherwise add the `key:value` pair.

In [75]:
d1['apples'] = 100  # add element to dict
d1

{'apples': 100}

In [76]:
d1['apples'] = 200  # update element in dict
d1

{'apples': 200}

#### `del d[key]`
Remove `d[key]` from `d`. Raises a `KeyError` if `key` is not in the map.

In [77]:
del d1['apples']
d1

{}

#### `key in d`
Return `True` if `d` has a key `key`, else `False`.

#### `key not in d`
Equivalent to `not key in d`.

In [78]:
'apples' in d1

False

#### `d.clear()`
Remove all items from the dictionary.

In [79]:
d4.clear()
d4

{}

#### `d.copy()`
Return a shallow copy of the dictionary.

In [80]:
d6 = d5.copy()
print(d6 == d5)
print(d6 is d5)

True
False

#### `d.get(key[, default])`
Return the value for `key` if `key` is in the dictionary, else `default`. If `default` is not given, it defaults to `None`, so that this method never raises a `KeyError`.

In [81]:
print(d1.get('apples'))

None

In [82]:
d1.get('apples', 0)

0

#### `d.pop(key[, default])`
If `key` is in the dictionary, remove it and return its value, else return `default`. If `default` is not given and `key` is not in the dictionary, a `KeyError` is raised.

In [83]:
d5.pop(1)

1.2

In [84]:
d5

{2: 3.45, 3: 5.2, 4: 21}

#### Iterating over dictionaries
There are three dictionaries methods that allow iteration over dictionaries: `d.keys()`, `d.values()`, `d.items()`. The objects returned by these methods are *view objects*. They provide a dynamic view on the dictionaryâ€™s entries, which means that when the dictionary changes, the view reflects these changes.

In [85]:
for key in d2.keys():
    print(key)

1083
1084
1088

In [86]:
for value in d2.values():
    print(value)

pie
carrot cake
brownie

In [87]:
for key, value in d2.items():
    print(f'id: {key}\tproduct: {value}')

id: 1083	product: pie
id: 1084	product: carrot cake
id: 1088	product: brownie

## Exercises

1. Create a dictionary called `my_dict` that contains the following key-value pairs:
    ```python
    "name": "John"
    "age": 30
    "occupation": "developer"
    "city": "New York"
    ```
    * Print the entire `my_dict` to the console.
    * Use the `get()` method to print the value associated with the key "occupation" to the console.
    * Add a new key-value pair to `my_dict` that represents John's salary. Set the salary to 75000.
    * Modify the value associated with the key "city" to be "San Francisco".
    * Print the entire `my_dict` to the console again to see the changes.
    * Use the `pop()` method to remove the key-value pair associated with the key "occupation" from `my_dict`.
    * Create a new dictionary called `new_dict` that contains the following key-value pairs:
    ```python
    "occupation": "teacher"
    "city": "Los Angeles"
    "is_active": False
    ```
    * Use the `update()` method to add all the key-value pairs from `new_dict` to `my_dict`.
    * Print the entire `my_dict` to the console again to see the changes.
    * Use a `for` loop to iterate over the items in `my_dict` and print each key and its associated value to the console.
    
1. Given the following dictionary:
    ```python
    d = {
      'times': 100, 
      'name': 'George', 
      'hobbies': ['fishing', 'hiking'],
    }
    ```
    * add key `'friends'` to `d` with `['Andrei', 'Mihai', 'Alina']` as value
    * sort value for key `'friends'`
    * remove `'hiking'` from hobbies list
    * remove `'times'` key from `d`

1. Given a list of strings build a dictionary that has each unique string as a key and the 
number of appearances as a value.
    
     E.g. `['hello', 'hello', 'is', 'there', 'anybody', 'in', 'there']` -> `{'hello': 2, 'is': 1, 'there': 2, 'anybody': 1, 'in': 1}`

1. Create a dictionary of dictionaries to store the following data:

    | id | Interface | IP      | status |
    |----|-----------|---------|--------|
    | 1  | Ethernet0 | 1.1.1.1 | up     |
    | 2  | Ethernet1 | 2.2.2.2 | down   |
    | 3  | Serial0   | 3.3.3.3 | up     |
    | 4  | Serial1   | 4.4.4.4 | up     |

    ```python
    {
        1: {"interface": "Ethernet0", "ip": "1.1.1.1", "status": "up"},
        # 2: {...}
    }
    ```

   * Write a python program to find the status of a given id
   * Write a python program to find interface and IP of all interfaces which are up 
   * Write a python program to count how many ethernet interfaces there are
   * Write a python program to add a new entry to the dictionary (auto-increment the id)